[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = "*"
pdbpp = "*"

[packages]
python-telegram-bot = "*"
beautifulsoup4 = "*"
requests = "*"
python-dotenv = "*"
gitpython = "*"
wand = "*"

[requires]
python_version = "3.8"
